body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 20px 50px;
  margin: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  gap: 20px;
}

hr {
  border: #ccc 0.5px solid;
  width: 100%;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: flex-start;
}

.container > .container-header {
  display: flex;
  justify-content: end;
  width: 25%;
}

.container > .container-body {
  width: 75%;
  margin-left: 10px;
}

#setting-form {
  position: relative;
}

#shortcut-input {
  cursor: text;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top: -4px;
}
#shortcut-input:focus {
  background-color: #ddd;
}

#action-div {
  position: absolute;
  right: 0px;
  display: flex;
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
  z-index: 1;
}

#action-div > button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
#action-div > button:disabled {
  cursor: not-allowed;
}

#test-btn {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top: -4px;
}
