body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 20px 50px;
  margin: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  gap: 20px;
}

hr {
  border: #ccc 0.5px solid;
  width: 100%;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: flex-start;
}

.container > .container-header {
  display: flex;
  justify-content: end;
  width: 25%;
}

.container > .container-body {
  width: 75%;
  margin-left: 10px;
}

#setting-form {
  position: relative;
}

#shortcut-input {
  cursor: text;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top: -4px;
}
#shortcut-input:focus,
#shortcut-input.changed {
  border: #febc2e 1px solid;
  outline: none;
}
#shortcut-input.satisfied {
  border: #28c840 1px solid;
  outline: none;
}

#action-div {
  position: absolute;
  right: 0px;
  display: flex;
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
  z-index: 1;
}

#action-div > button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#action-div > button:disabled {
  cursor: not-allowed;
}

#conditions > li {
  color: #999;
}
#conditions > li.satisfied {
  list-style-type: "✓ ";
  color: #333;
}
#condition-modifier > ul > li {
  color: #aaa;
}
#condition-modifier > ul > li.satisfied {
  color: #555;
}

#test-btn {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top: -4px;
  background-color: white;
  cursor: pointer;
  outline: none;
}

#test-btn.isTesting {
  color: #333;
  background-color: #ffdd95;
  border-color: #febc2e;
}

#test-btn.success {
  color: #333;
  background-color: #81ff94;
  border-color: #28c840;
}

#test-btn.fail {
  color: #333;
  background-color: #ff9f9a;
  border-color: #ff5f57;
}
