body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  margin: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#setting-form {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

#shortcut-input {
  cursor: text;
  flex: 1;
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
  border: 1px solid black;
}
#shortcut-input:focus {
  background-color: #ddd;
}

#setting-form > .action-div {
  display: flex;
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
  gap: 5px;
}

#setting-form > .action-div > button {
  cursor: pointer;
}
